/* LoginPage.css */
.login-page {
    background: url("https://images.unsplash.com/photo-1571902943202-507ec2618e8f?q=80&w=1975&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f57418;
    min-height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .login-box {
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  .login-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin: 10px 0;
    text-align: left;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .login-button {
    background-color: #f57418;
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }

  
  .login-button:hover {
    background-color: #ff9900;
  }  